//vee-validate error message
.invalid-feedback,.form-control.is-invalid{
    color: $error-color; /* 將顏色更改為紅色 */
}
.form-control.is-invalid {
    border-color: $error-color; 
}
.form-control.is-invalid:focus{
    border-color: $error-color;
    box-shadow: 0 0 0 0.25rem rgba($error-container, 1)
}

//background
.bg-and-text-secondary {
    color: $secondary-color;
    background-color: $secondary-container;
}
.bg-secondary-container {
    background-color: $background;
}

//modal
.text-secondary-custom{ 
    color: $secondary-container;
}
.bg-secondary-custom{
    background-color: $secondary-container;
}