@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&display=swap');
//vee-validate error message
.invalid-feedback,.form-control.is-invalid{
    color: $error-color; /* 將顏色更改為紅色 */
}
.form-control.is-invalid {
    border-color: $error-color; 
}
.form-control.is-invalid:focus{
    border-color: $error-color;
    box-shadow: 0 0 0 0.25rem rgba($error-container, 1)
}
body {
    font-family: 'Noto Sans TC', 'Merriweather', serif;
    font-weight: 300;
}
.en-text {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

img {
    object-fit: cover;
    max-width: 100%;
}
.accordion {
    cursor: pointer;
}
.bg-surface-variant {
    background-color: $surface-variant;
}
.bg-background {
    background-color: $background;
}
.bg-secondary-custom {
    background-color: $secondary-container;
}

.text-tertiary-container {
    color: $tertiary-container;
}
.text-secondary-custom{ 
    color: $secondary-container;
}
.fs-7 {
    font-size : 0.8125rem;
}
.border-primary-bottom {
    width:11%;
    border-bottom: 1px solid $primary;
}
.border-primary-left {
    border-left: 5px solid $primary;
}
.border-bottom-info {
    border-bottom: 3px solid $outline-color;
}
.border-bottom-primary-light {
    border-bottom: 1px solid $primary;
}
.w-40 {
    width:40%;
}
.h-75vh{
    height: 75vh;
}
.left-0 {
    left: 0;
}
.z-1000 {
    z-index: 1000;
}
.div-md-block {
    display: none;
}
@media (min-width: 435px) {
    .mb-ssm-0 {
        margin-bottom: 0 !important;
    }
}
@media (min-width: 768px) {
    .div-md-block {
        display: flex;
    }
    .d-md-none {
        display: none;
    }
    .fs-md-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
}