//vee-validate error message
.invalid-feedback,.form-control.is-invalid{
    color: $error-color; /* 將顏色更改為紅色 */
}
.form-control.is-invalid {
    border-color: $error-color; 
}
.form-control.is-invalid:focus{
    border-color: $error-color;
    box-shadow: 0 0 0 0.25rem rgba($error-container, 1)
}

img {
    object-fit: cover;
    max-width: 100%;
}
.bg-surface-variant {
    background-color: $surface-variant;
}
.bg-background {
    background-color: $background;
}
.bg-secondary-custom {
    background-color: $secondary-container;
}

.text-tertiary-container {
    color: $tertiary-container;
}
.text-secondary-custom{ 
    color: $secondary-container;
}
.fs-7 {
    font-size : 0.8125rem;
}
.border-primary-bottom {
    width:11%;
    border-bottom: 1px solid $primary;
}
.border-primary-left {
    border-left: 5px solid $primary;
}
.w-40 {
    width:40%;
}